.weatherCard{
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(76, 76, 236, 0.37);
    color: white;
}

.weatherCard__img{
    margin-bottom: 0;
}

.weatherCard__title{
    margin-top: 0;
    font-size: 30px;
}

.weatherCard__temp{
    font-size: 30px;
    margin: 5px 0;
}

.weatherCard__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.weatherCard__list span{
    font-weight: bold;
}

.weatherCard__btn{
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(97, 99, 219);
    cursor: pointer;
    transition: transform 300ms ease;
}

.weatherCard__btn:hover{
    transform: scale(1.03);
}